/.gradle/
/.idea/
/build/
/build-logic/.gradle/
/build-logic/build/
/run/
/sentinel-api/build/
/sentinel-app/build/
/sentinel-common/build/
/sentinel-factoids/build/
/sentinel-frontend/dist/
/sentinel-frontend/node_modules/
/sentinel-frontend/src/@iconify/*.js
/sentinel-frontend/.env
/sentinel-frontend/.env.*
/sentinel-importer/build/
/*.iml
/.env
/.env.*
